---
---
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p style="font-size: 0.9rem; color: #888;">
        <span lang="en">Project page template from <a href="https://github.com/nerfies/nerfies.github.io" target="_blank">Nerfies</a>. Licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a>.</span>
        <span lang="zh">项目页面模板源自 <a href="https://github.com/nerfies/nerfies.github.io" target="_blank">Nerfies</a>。本网站根据 <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a> 许可协议授权。</span>
      </p>
    </div>
  </div>
</footer>
