---
import { Icon } from 'astro-icon/components';
---

<button
  id="theme-toggle"
  class="bg-gray-200 dark:bg-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 text-gray-700 dark:text-gray-200 rounded-full p-2 transition-colors border border-gray-300 dark:border-gray-600"
  title="Toggle Theme"
  aria-label="Toggle Theme"
>
  <Icon name="lucide:sun" class="w-4 h-4 hidden dark:block" />
  <Icon name="lucide:moon" class="w-4 h-4 block dark:hidden" />
</button>
